.has_schedule
	font-weight: bold

#actionSchedule
	width 130px

.btn-xs
	margin-top 6px

.table-action-connection
	width 150px

.scenario-step ~ .scenario-step
	margin-top 1em

.scenario-step
	margin-bottom 0
	position relative
	z-index 200

.action-params
	padding-left 0
	list-style none

	.param-title
		color #aaa

.array-container .placeholder
	border-bottom 1px solid #666

#action-result-modal
	.modal-dialog
		width 90%

	.modal-body
		background-color #333
			color #ccc

		.action-result-text
			font-family Menlo, Monaco, Consolas, "Courier New", monospace
			font-size 90%

			// word-break break-all
			// word-wrap break-word
			white-space pre
			overflow-x scroll

.scenarioPopup
	.large.ordered.list
		max-height 400px !important
		overflow auto !important
