.databrowserWidget.graphType
	padding 0

.metricList
	width 17.1rem
	float left
	overflow auto
	height 100%

	.ui.menu
		margin-right 0 !important
		border-radius 0 !important
		width 17rem !important

	.active.item
		box-shadow -2px 0 0 inset !important

.metricOptions
	.ui.dropdown
		min-width 80px !important

	.widgetType
		.ui.selection .menu
			overflow visible !important



.databrowser
	position absolute
	left 17.1rem
	right 0
	top 0
	bottom 0
	overflow auto

	.databrowserActions
		position absolute
		top 1em
		right 1em

	.noMetricsSelected
		position absolute
		top 50%
		left 10%
		width 80%
		height 200px
		text-align center
		margin-top -100px
		color #999
		font-size 150%

	.databrowserWidget
		min-height 100px

// .databrowser-actions
// 	margin-bottom 2em
//
// .databrowser
// 	.staticWidget
// 		width 50%
// 		margin 0 auto
// 		background-color #f5f5f5
// 		padding 1em
//
// .selectedMetrics
// 	line-height 32px
//
// 	ul.list-inline
// 		margin 0
//
// 		li.selectedMetricsItem
// 			padding 0 1em
// 			margin-bottom 0.5em
// 			border 1px solid #ccc
// 			border-radius 5px
//
// 			background-color #eee
//
// 			cursor pointer
//
// .metricOptions
// 	margin-bottom 2em
//
//
// 	.datetimepicker, .datetimepicker input
// 		display inline-block
//
// 	.datetimepicker input
// 		width 9em
//
// 	.movingWindowInput
// 		width 5em
// 		text-align center
//
// 	.toggleMovingWindow
// 		border-bottom 1px dashed #428bca
// 		text-decoration none
//
// 	.btn-group
//
// 		display inline-block
//
// .dataResolution
// 	margin-right 1em
//
// .browser-add-metric .bootstrap-select
// 	width auto !important
// 	margin-bottom 0px !important
