.editFormHeader
	line-height 36px !important
	margin-left 1rem !important

	text-align center
	// color rgba(255,255,255,0.8)
	font-size 1.5rem

textarea[name="description"]
	min-height 6em !important
	height 6em !important

// .navigationRow
	// background-color rgb(245,130,31)

.mainInfoRow
	background-color #f2f2f2

.objEdit
	.basicInfoRow
		.field
			display none
