.menuSegment
  border-radius 0 !important

  .item
    color white !important

.promo
  height 30rem

  // background linear-gradient(to bottom, #a333c8 0%,#e03997 100%)

.buyAction
  border-radius 0 !important
